<div class="container">
  <header class="shadow">
    <nav class="navbar">
      <ul class="nav">
        <li class="nav-item" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a routerLink="/national-trust" class="nav-link">National Trust</a>
        </li>
        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a routerLink="/english-heritage" class="nav-link">English Heritage</a>
        </li>
        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a routerLink="/hha" class="nav-link">HHA</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
