<h5 class="mb-4">{{ hProperty.name }}</h5>
<div class="row">
  <div class="col-12 col-lg-6 order-2 order-lg-1">
    <p>Address</p>
    <p class="ml-2 font-weight-light">
      {{ hProperty.address }}
    </p>
    <p>Website</p>
    <p>
      <a href="{{ hProperty.website }}" 
        target="_blank"
        class="ml-2">
        {{ hProperty.website }}
      </a>
    </p>
    <p>Email</p>
    <p class="ml-2 font-weight-light">
      {{ hProperty.email }}
    </p>
  </div>
  <div class="col-12 col-lg-6 order-1 order-lg-2">
    <img 
      src="{{ hProperty.imgUrl }}" 
      alt="{{ hProperty.name }}" 
      title="{{ hProperty.name }}" 
      class="img-fluid"
      style="max-height: 20rem;">
  </div>
</div>

