<section>
  <!-- DODAC KONTENER PO PRAWEJ I PO LEWEJ -->
  <div class="row justify-content-center">
    <div class="col col-md-5">
      <h4 class="my-5">National Trust Properties
        <button 
          class="btn btn-outline-primary"
          type="button"
          [routerLink]="['/add-new']"
          >Add New
        </button>
      </h4>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center mb-2 shadow"
        *ngFor="let property of nProperties">
          <a 
            [routerLink]="['/national-trust', property.id]"
            class="d-flex w-100 justify-content-between">
            <p>{{ property.name }}</p>
            <img
              style="height: 3rem; width: 5.5rem;"
              src="{{ property.imgUrl }}"
              alt="{{ property.name }}" 
              title="{{ property.name }}">
          </a>
        </li>
      </ul>
    </div>
    <div class="col col-md-7">
      <h4 class="my-5">Description</h4>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
